.container{
    width: 600px;
    height: 800px;
    margin: 0px auto;
}

.container > .title{
    display: flex;
    justify-content:space-between
}

.container > .title::after{
    content: "";
    position: absolute;
    width: 600px;
    top: 50px;
    height: 3px;
    background-color: black;
}

.container > .title > ul{
    margin: 0px 20px 0px 0px;
    padding: 0px;
    width: 100px;
    height: 100%;
}

.container > .title > h2{
    margin: 0px 0px 0px 20px;
    padding: 0px;
}


.container > .title > ul > li{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    height: 50%;
}

.container > .title > ul > li > img{
    margin-top: 5px;
    width: 25px;
}

.container > .section{
    transition: all 1s ease-in-out;
    box-sizing: border-box;
    position: absolute;
    margin-top: 20px;
    width: 600px;
    height: 700px;
    overflow: hidden;
}

.container > .section > .board{
    width: 600px;
    height: 700px;
}

.container > .section > .board > .title{
    width: 600px;
    height: 50px;
}

.container > .page {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 600px;
    height: 35px;
    top: 17px;
}

.container > .page > h3 {
    display: inline-block;
    width: 300px;
    height: 35px;
    margin: 0px;
    text-align: center;
}


.container > .page  > .back{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.container > .page  > .back:hover{
    cursor: pointer;
}

.container > .page  > .back::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 6px;
    left: 5px;
    top: 8px;
    background-color: black;
    transform:  rotate(-30deg);
    border-radius: 30px;
}

.container > .page  > .back::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 6px;
    left: 5px;
    top: 18px;
    background-color: black;
    transform:  rotate(30deg);
    border-radius: 30px;
}

.container > .page  > .next{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.container > .page  > .next:hover{
    cursor: pointer;
}

.container > .page > .next::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 6px;
    left: 3px;
    top: 10px;
    background-color: black;
    transform:  rotate(30deg);
    border-radius: 30px;
}

.container > .page > .next::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 6px;
    left: 3px;
    top: 20px;
    background-color: black;
    transform:  rotate(-30deg);
    border-radius: 30px;

}


.container > .section > .board > .title > h2{
    width: 100%;
    margin: 0px;
    display: inline-block;
    text-align: center;
}

.container > .section > .board > .page{
    display: inline-block;
    position: relative;
    left: 240px;
    width: 100px;
    margin: 10px;
    text-align: center;
    border: 1px solid grey;
    font-size: 1.2rem;
}

.container > .section > .board > .image{
    margin: 0px auto;
    width: 350px;
    height: 500px;
}

.container > .section > .board > .image > img{
    width: 350px;
    height: 500px;
}

.container > .section > .board > .content{
    box-sizing: border-box;
    padding: 20px;
    height: 150px;
}
